.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  background-color: white;
  color: #27568b;
  gap: 10px;
}
.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container form input {
  padding: 5px;
  border: solid 1px #27568b;
  background-color: white;
  border-radius: 5px;
  color: black;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  flex-direction: column;
  border: solid 1px #27568b;
}
.output {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border: solid 1px #27568b;
  padding: 10px;
  overflow-y: auto;
  height: 50%;
  width: 50%;
}

  .container {
    flex-direction: column;
  }
  .content {
    width: 90%;
    height: auto;
  }
  .output {
    width: 90%;
    height: auto;
  }

